/*body {
  background-color: black;
}
*/

ul {
  margin-bottom: 8px;
  margin-top: 8px;
}

li {
  border-radius: 1px;
  border-color: gray;
}


#search-bar, #search-button {
  width: 100%;
  margin-top: 20px;
  font-size: 1.6em;
  border-width: 1px;
  border-color: gray;
}


.place-list {
  max-height: 300px;
}

@media screen and (max-width: 1000px){
  ul li {
    float: left;
    width: 50%;
  }
};